.box{
height: 200px; width: 300px; background-color: aqua;
}
.responsive-box{
    width: 50vw; height: 50vh; background-color: aquamarine;
}
.padded-text{
    padding: 20px;background-color: blue;
}
.custom-padding{
    padding-top: 10px; padding-bottom: 10px;
    padding-left: 20px; padding-right: 20px;background-color: blueviolet;
}
.border-box{
    border: solid, 2px, black
}
.rounded-border{
    border: dotted, 3px, red;
    border-radius: 15px;
}
.margin-text{
    margin:30px; background-color: cadetblue;
} 
.custom-margin{
    margin-top: 20px;margin-bottom: 20px;
    margin-left: 40px;margin-right: 40px; background-color: cornflowerblue;
}
.inline-element{
    display: inline; background-color: darkgreen;
}
.block-element{
    display: block; background-color: darkcyan;
}
.inline-block-element{
    display: inline-block; background-color: dimgrey;
}
.hidden-element{
    display: none;
}
.visible-element{
    visibility: visible; background-color: indianred;
}
.invisible-element{
    visibility: hidden;
}
.transparent-box{
    background-color: rgb(0, 0, 255, 0.5);
}